<div class="w-screen h-screen flex justify-center items-center" data-theme="light">
  <div class="bg-gray-100 rounded-lg p-6 w-screen m-30">
    <h1 class="font-bold text-4xl m-6">Super Admins</h1>
    <div class="flex justify-between m-6">
      <%= button_to "Add Admin", new_branding_admin_path(@branding),
          method: :get,
          data: { turbo_frame: "modal" },
          class: "btn"
      %>
      <button class="btn">Delete</button>
    </div>
      <table class="table">
        <thead>
          <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email address</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @admins.each do |admin| %>
            <tr>
              <td><%= admin.first_name %></td>
              <td><%= admin.last_name %></td>
              <td><%= admin.email %></td>
              <td>
                <%= link_to "Edit", edit_branding_admin_path(@branding, admin),
                  method: :get,
                  data: { turbo_frame: "modal" },
                  class: "btn"
                %>
                <%= button_to "Delete", branding_admin_path(@branding, admin), 
                method: :delete, 
                data: { turbo_confirm: "Are you sure?" }, 
                class: "btn" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <div class="flex justify-between m-6">
      <%= link_to "Back", preview_branding_path(@branding), class:"btn" %>
      <button class="btn">Finish</button>
    </div>
  </div>
</div>

<div class="modal" data-controller="modal" data-modal-target="dialog" data-theme="light">
  <div class="modal-box max-w-max">
    <turbo-frame id="modal" data-action="turbo:frame-load->modal#open">
      <%# Modal content will be loaded here %> 
    </turbo-frame>
  </div>
</div>