<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="bg-white rounded-lg p-6">
    <div>
      <h1 class="font-bold text-4xl">Add new Admin</h1>
      <%= form_with model: @admin do |form| %>
        <div>
          <%= form.label :first_name, class:"label mt-4" %>
          <%= form.text_field :first_name, class: "input" %>
        </div>
        <div>
          <%= form.label :last_name, class:"label mt-4" %>
          <%= form.text_field :last_name, class: "input" %>
        </div>
        <div>
          <%= form.label :email_address, class:"label mt-4" %>
          <%= form.text_field :email, class: "input" %>
        </div>
        <div class="flex justify-between mt-4">
          <%= link_to "Back", admins_path, class:"btn" %>
          <%= form.submit "Add", class: "btn" %>
        </div>
      <% end %>
      </div>
  </div>
</div>