<html data-theme="light">
  <div class="bg-purple-400">
    <div class="flex items-center h-screen w-screen bg-green-300" data-controller="preview">
      <div class="self-center bg-red-50 m-6">
        <%= form_with(model: @branding, data: {controller: "preview_controller"}) do |form| %>
          <div data-controller="preview", class="flex flex-col m-10 w-50">
            <div class="flex items-center mb-4">
              <%= form.color_field :primary_color, data: { preview_target: "color", variable: "--color-primary", action: "input->preview#update"}, class: "rounded-full w-10 h-10 cursor-pointer mr-4" %>
              <%= form.label :primary%>
            </div>
            <div  class="flex items-center mb-4">
              <%= form.color_field :secondary_color_light, data: { preview_target: "color", variable: "--color-secondary", action: "input->preview#update"}, class: "rounded-full w-10 h-10 cursor-pointer mr-4" %>
              <%= form.label :secondary_light %>
            </div>
            <div class="flex items-center mb-4"> 
              <%= form.color_field :secondary_color_dark, data: { preview_target: "color", variable: "--color-secondary", action: "input->preview#update"}, class: "rounded-full w-10 h-10 cursor-pointer mr-4" %>
              <%= form.label :secondary_dark %>
            </div>
            <div class="flex items-center">
              <%= form.color_field :accent_color, data: { preview_target: "color", variable: "--color-accent", action: "input->preview#update"}, class: "rounded-full w-10 h-10 cursor-pointer mr-4" %>
              <%= form.label :accent %>
          </div>
        <% end %>
      </div>
        <div class="flex justify-between">
          <button type="button" class="btn">Cancel</button>
          <button type="button" class="btn">Next</button>
        </div>
    </div>
    <div class="flex justify-center items-center bg-red-300 w-4/5 h-20/21">
      <div class="w-50 h-50 bg-blue-400">

      </div>
    </div>
  </div>
</html>