<h1><%= @branding.name %></h1>

    <%= image_tag @branding.logo.representation(resize_to_limit: [500, 500]) %>
    <%= image_tag @branding.favicon.representation(resize_to_limit: [500, 500]) %>
    <%= image_tag @branding.background.representation(resize_to_limit: [500, 500]) %>
 
<%= link_to "Back", brandings_path %>

    <div class="text-base-content/80 h-full">
  <div id="page" class="flex h-screen w-full">
    
    <div class="flex h-full w-2/5 min-w-[520px] flex-shrink-0 flex-col items-center justify-between px-4">
      <header class="flex w-full items-center justify-center p-6">
        <img src="login_files/main_logo.webp" alt="Company Logo" class="h-14">
      </header>

      
      <content id="content-block" class="bg-base-100 flex w-[480px] flex-col gap-8 overflow-auto rounded-lg p-10 shadow-lg">
        <header class="flex flex-col gap-2">
  <h2 class="title">Log in</h2>
  <p class="opacity-80">Enter your credentials to access your account</p>
</header>
<form id="login-form" hx-post="/login" hx-indicator="#spinner" hx-boost="true" hx-target="#content-block" class="flex flex-col gap-6 text-base">
  <fieldset class="fieldset">
    <legend class="fieldset-legend">Email</legend>
    <input id="email" name="email" type="email" placeholder="Email" required="" class="input input-primary validator w-full">
  </fieldset>
  <fieldset class="fieldset">
    <legend class="fieldset-legend flex w-full justify-between">
      Password
      
        <span class="link-hover link primary-link cursor-pointer text-center" hx-get="/me/forgot-password-email-form" hx-target="#content-block">
          Forgot password?
        </span>
      
    </legend>
    <div x-data="showToggle" class="relative flex items-stretch justify-between gap-5">
      <input id="password" name="password" autocomplete="one-time-code" placeholder="Password" class="input input-primary validator w-full" :type="type" required="" type="password">
      <div class="absolute inset-y-0 right-0 flex items-center pr-5 text-sm leading-5">
        
  <svg class="h-6" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" @click="toggle" x-show="show" style="display: none;">
    <path fill="currentColor" d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z"></path>
  </svg>
  <svg class="h-6" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" @click="toggle" x-show="hide">
    <path fill="currentColor" d="M320 400c-75.85 0-137.25-58.71-142.9-133.11L72.2 185.82c-13.79 17.3-26.48 35.59-36.72 55.59a32.35 32.35 0 0 0 0 29.19C89.71 376.41 197.07 448 320 448c26.91 0 52.87-4 77.89-10.46L346 397.39a144.13 144.13 0 0 1-26 2.61zm313.82 58.1l-110.55-85.44a331.25 331.25 0 0 0 81.25-102.07 32.35 32.35 0 0 0 0-29.19C550.29 135.59 442.93 64 320 64a308.15 308.15 0 0 0-147.32 37.7L45.46 3.37A16 16 0 0 0 23 6.18L3.37 31.45A16 16 0 0 0 6.18 53.9l588.36 454.73a16 16 0 0 0 22.46-2.81l19.64-25.27a16 16 0 0 0-2.82-22.45zm-183.72-142l-39.3-30.38A94.75 94.75 0 0 0 416 256a94.76 94.76 0 0 0-121.31-92.21A47.65 47.65 0 0 1 304 192a46.64 46.64 0 0 1-1.54 10l-73.61-56.89A142.31 142.31 0 0 1 320 112a143.92 143.92 0 0 1 144 144c0 21.63-5.29 41.79-13.9 60.11z"></path>
  </svg>

      </div>
    </div>
  </fieldset>
  <div id="login-form-error" class="text-error"></div>
  <button type="submit" class="btn-primary btn w-full">
    <span class="spinner loading loading-spinner" id="spinner"></span>
    <span class="button-text">Login</span>
  </button>
  <div class="text-base-content/50 text-center text-xs">Version: 3.0.0</div>
</form>
      </content>

      <footer class="text-base-content/60 flex w-full justify-between py-4 text-sm">
        <div class="flex items-center gap-2">
          Powered by
          <a href="https://alkmist.com/" class="text-base-content/30 hover:text-primary mt-0.5">
            
  <svg width="79" height="16" viewBox="0 0 79 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect y="0.5" width="15" height="15" rx="3" fill="currentColor"></rect>
    <path d="M9.61177 8.36395C8.57961 8.36395 7.74335 7.52708 7.74335 6.49553V4.25H7.25727V5.28155C7.25727 6.31371 6.42039 7.14997 5.38885 7.14997H3.75V7.63605H5.38823C6.42039 7.63605 7.25665 8.47292 7.25665 9.50447V11.7494H7.74274V10.7178C7.74274 9.68568 8.57961 8.84942 9.61115 8.84942H11.2494V8.36334H9.61115L9.61177 8.36395Z" fill="white"></path>
    <path d="M24.3911 6.23276C22.9501 6.23276 21.9428 6.40946 21.65 6.49807L21.0431 8.24524L21.0972 8.28433C21.5303 8.16653 22.5164 8.04874 23.0905 8.04874C23.9787 8.04874 24.8024 8.20563 24.8237 8.89313C24.4337 8.59863 23.9246 8.44174 22.8408 8.44174C21.5079 8.44174 20.2188 8.82485 20.2188 10.1597C20.2188 11.1907 21.042 11.75 22.4721 11.75C23.9022 11.75 24.4331 11.5634 25.0182 11.1219V11.5087C25.0182 11.566 25.0699 11.6129 25.1332 11.6129H28.3484C28.4116 11.6129 28.4634 11.566 28.4634 11.5087V8.91346C28.4634 6.8129 27.0983 6.23329 24.39 6.23329L24.3911 6.23276ZM24.3043 10.3265C24.0765 10.3265 23.8061 10.2676 23.8061 9.93403C23.8061 9.68853 23.9792 9.54154 24.3371 9.54154C24.6189 9.54154 24.8571 9.63953 24.8571 9.90484C24.8571 10.1305 24.6839 10.327 24.3048 10.327L24.3043 10.3265Z" fill="currentColor"></path>
    <path d="M32.7917 4.25H29.1756C29.1121 4.25 29.0605 4.29667 29.0605 4.35425V11.5081C29.0605 11.5657 29.1121 11.6124 29.1756 11.6124H32.7917C32.8552 11.6124 32.9068 11.5657 32.9068 11.5081V4.35425C32.9068 4.29667 32.8552 4.25 32.7917 4.25Z" fill="currentColor"></path>
    <path d="M42.7179 10.0487C42.7179 9.32992 42.0747 8.74771 41.282 8.74771H40.0228V8.40943H41.282C42.0753 8.40943 42.7179 7.82669 42.7179 7.10843V6.49442C42.7179 6.43709 42.6661 6.39018 42.6028 6.39018H38.8734C38.8343 6.39018 38.798 6.4079 38.7767 6.43761L37.5324 8.16705H37.4024V4.35425C37.4024 4.29691 37.3507 4.25 37.2874 4.25H33.6713C33.608 4.25 33.5562 4.29691 33.5562 4.35425V11.5081C33.5562 11.5655 33.608 11.6124 33.6713 11.6124H37.2874C37.3507 11.6124 37.4024 11.5655 37.4024 11.5081V10.0513L37.5974 9.9236L38.5938 11.5582C38.6139 11.5915 38.6525 11.6119 38.6945 11.6119H42.6022C42.6655 11.6119 42.7173 11.565 42.7173 11.5076V10.0482L42.7179 10.0487Z" fill="currentColor"></path>
    <path d="M52.7407 6.22338C51.8197 6.22338 51.2024 6.49807 50.6927 7.19496C50.3677 6.56687 49.7608 6.22338 48.9376 6.22338C48.0057 6.22338 47.3775 6.54707 47.0415 7.11677V6.49442C47.0415 6.43709 46.9898 6.39018 46.9265 6.39018H43.2057C43.1424 6.39018 43.0906 6.43709 43.0906 6.49442V7.95335C43.0906 8.67213 43.7332 9.25434 44.5265 9.25434H45.7857V9.59262H44.5265C43.7332 9.59262 43.0906 10.1754 43.0906 10.8936V11.5081C43.0906 11.5655 43.1424 11.6124 43.2057 11.6124H47.0674C47.1307 11.6124 47.1825 11.5655 47.1825 11.5081V9.33513C47.1825 8.95203 47.3016 8.74614 47.5075 8.74614C47.7134 8.74614 47.8003 8.90303 47.8003 9.24705V11.5087C47.8003 11.566 47.8521 11.6129 47.9154 11.6129H50.8705C50.9338 11.6129 50.9855 11.566 50.9855 11.5087V9.33566C50.9855 8.94317 51.0937 8.74666 51.3215 8.74666C51.5165 8.74666 51.5924 8.88427 51.5924 9.24757V11.5092C51.5924 11.5665 51.6442 11.6134 51.7075 11.6134H54.6736C54.7368 11.6134 54.7886 11.5665 54.7886 11.5092V8.51159C54.7886 7.0782 54.0304 6.22443 52.7407 6.22443V6.22338Z" fill="currentColor"></path>
    <path d="M59.2337 4.35425V5.84393C59.2337 5.90126 59.1819 5.94817 59.1186 5.94817H55.5025C55.4392 5.94817 55.3875 5.90126 55.3875 5.84393V4.35425C55.3875 4.29691 55.4392 4.25 55.5025 4.25H59.1186C59.1819 4.25 59.2337 4.29691 59.2337 4.35425ZM59.2337 6.49442V11.5081C59.2337 11.5655 59.1819 11.6124 59.1186 11.6124H55.5025C55.4392 11.6124 55.3875 11.5655 55.3875 11.5081V6.49442C55.3875 6.43709 55.4392 6.39018 55.5025 6.39018H59.1186C59.1819 6.39018 59.2337 6.43709 59.2337 6.49442Z" fill="currentColor"></path>
    <path d="M62.8889 9.89442C63.2898 9.89442 63.4089 9.86523 63.4089 9.77662C63.4089 9.67863 63.1598 9.61973 62.5748 9.58011C60.8197 9.46231 59.8987 8.97132 59.8987 8.09773C59.8987 6.85095 61.1228 6.23276 63.593 6.23276C64.766 6.23276 66.0879 6.47618 66.845 6.82436C66.8996 6.84938 66.9226 6.90828 66.8985 6.95936L66.2473 8.31248C66.2231 8.36252 66.1604 8.38649 66.1029 8.36825C65.5196 8.18217 64.766 8.06802 64.0803 8.06802C63.7662 8.06802 63.6252 8.10711 63.6252 8.20563C63.6252 8.29424 63.8202 8.33333 64.3731 8.36252C66.1932 8.45113 67.0492 8.9317 67.0492 9.8548C67.0492 11.1803 65.9222 11.7495 63.3111 11.7495C61.9081 11.7495 60.5044 11.4743 59.6881 11.039C59.6404 11.0135 59.6185 10.9614 59.6369 10.9139L60.2036 9.46023C60.226 9.40289 60.2968 9.37579 60.3583 9.39977C61.1487 9.70677 62.0927 9.89442 62.8883 9.89442H62.8889Z" fill="currentColor"></path>
    <path d="M67.862 6.39018V5.41339C67.862 5.36439 67.8994 5.32217 67.9518 5.31175L71.5679 4.57316C71.6398 4.55857 71.7082 4.60809 71.7082 4.6748V6.39018H72.8611C72.9244 6.39018 72.9761 6.43709 72.9761 6.49442V8.3573C72.9761 8.41464 72.9244 8.46155 72.8611 8.46155H71.7082V9.09954C71.7082 9.37423 71.8273 9.57073 72.1414 9.57073C72.379 9.57073 72.547 9.54988 72.7627 9.47847C72.8294 9.45658 72.9013 9.49463 72.9146 9.5577L73.2436 11.161C73.2523 11.2032 73.231 11.246 73.1907 11.2689C72.7357 11.5274 72.0528 11.75 70.7113 11.75C68.263 11.75 67.862 10.6111 67.862 9.56083V8.46155H67.273C67.2097 8.46155 67.1579 8.41464 67.1579 8.3573V6.49442C67.1579 6.43709 67.2097 6.39018 67.273 6.39018H67.862Z" fill="currentColor"></path>
  </svg>

          </a>
        </div>
        <div class="text-center">© 2025 Alkmist. All rights reserved.</div>
      </footer>
    </div>

    
    <div class="bg-base-200 relative grow">
      <img src="login_files/background.webp" alt=" " class="h-full w-full object-cover object-center">
    </div>
  </div>
</div>