<%= form_with(model: @branding_color, data: {controller: "color_preview_controller"}) do |form| %>
    <div data-controller="color-preview">
      <div>
        <%= form.color_field :primary, data: { color_preview_target: "primary", action: "input->color-preview#update" } %>
        <%= form.label :primary %>
      </div>
  
      <div>
        <%= form.color_field :secondary_light, data: { color_preview_target: "secondaryLight", action: "input->color-preview#update" } %>
        <%= form.label :secondary_light %>

      </div>
  
      <div>
        <%= form.color_field :secondary_dark, data: { color_preview_target: "secondaryDark", action: "input->color-preview#update" } %>
        <%= form.label :secondary_dark %>
      </div>
  
      <div>
        <%= form.color_field :accent, data: { color_preview_target: "accent", action: "input->color-preview#update" } %>
        <%= form.label :accent %>
      </div>
  
      <div class="mt-4">
        <h3>Live preview</h3>
        <div data-color-preview-target="previewLight" class="preview-box">Preview: Light mode</div>
        <div data-color-preview-target="previewDark" class="preview-box mt-2">Preview: Dark mode</div>
      </div>
    </div>
  
    <%= form.submit "Save" %>
  <% end %>

  # Assets
  <%= image_tag("background.webp") %>
  <%= image_tag("main_logo.webp") %>


 